
.alert-float{
    /* position: absolute; */
    /* position: sticky; */
    top: 60%;
    left: 79%;
    z-index: 1;
    width: 20%;
    padding: 10px 20px;
    border-left: 7px solid blue;
}


/******************** mobile view  ***************************/
@media only screen and (max-width: 768px){
    .alert-float{
        width: 60%;
        padding-left: 8px;
        font-size: 10px;
    }
    .carousel-inner .carousel-item img
    {
        height: 400px; 
        object-fit:cover;
        object-position: 43%;
    }
    footer .container h5{
        font-size: 10px;
    }
    footer .container h4{
        font-size: 15px;
    }
}
/******************** tab view  ***************************/
@media only screen and (min-width: 768px) and (max-width: 992px){
    .alert-float{
        width: 30%;
        font-size: 12px;
    }
}
